@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;
}
html {
  scroll-behavior: smooth;
}
a {
  all: unset;
}
nav {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  height: 80px;
  background-color: rgb(46, 46, 46);
  color: white;
}

.container {
  width: 100vw;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 32px;
}
.menu-list {
  display: flex;
  list-style: none;
  gap: 24px;
  font-weight: medium;
}
.menu-item {
  cursor: pointer;
  transition: all;
}
.menu-item:hover {
  border-bottom: 1px solid white;
  padding-bottom: 4px;
}
.menu-icon {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 80px);
}
.ticket-section {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  /* responsive 100vw but capped at 1000px */
  width: 100vw;
  max-width: 1000px;
}
.ticket-card {
  width: 200px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 200ms;
}
.ticket-card:hover {
  background-color: rgb(46, 46, 46);
  color: white;
  border-radius: 20px;
}

/* TABLET 900px */
/* @media screen and (min-width: 600px) and (max-width: 900px) {
  .menu-list {
    color: yellow;
  }
} */

/* MOBILE */
@media screen and (max-width: 600px) {
  .menu-icon {
    display: block;
  }
  .menu-list {
    display: none;
  }
  .ticket-section {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .ticket-card {
    width: 90%;
    height: 500px;
  }
}
