<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Home</title>
  </head>
  <body>
    <div id="main-container">
      <h1>Hello & Welcome to BMI Calculator</h1>

      <form action="/information" method="post">
        <h3><label for="firstName">First Name:</label></h3>
        <input type="text" name="firstName" id="firstName" />
        <h3><label for="age">Age:</label></h3>
        <input type="number" name="age" id="age" />
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
