<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node website</title>
  </head>
  <body>
    <h1>Contact me</h1>
    <form action="/submit" method="post">
      <label for="firstName">First Name</label>
      <input type="text" name="firstName" id="firstName" />
      <label for="lastName">Last Name</label>
      <input type="text" name="lastName" id="lastName" />
      <label for="gender">Gender</label>
      <input type="text" name="gender" id="gender" />
      <button type="submit">submit</button>
    </form>
  </body>
</html>
