*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: black;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 80vw;
    margin: 0 auto;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}

li:hover{
    text-decoration: underline;    
    text-underline-offset: 20px;
}